.productCard-container {
    display: grid;  
    width: 300px;
    height: 450px;
    background-color: #131313;
    border-radius: 5px;
    text-decoration: none;
}

.productCard-container:hover {
    transition: all 200ms;
    box-shadow:  3px 3px 10px #000;
}

.productCard-image {
    width: 300px;
    height: 350px;
    border-radius: 5px 5px 0 0 ;
    cursor: pointer;
    
}

.productCard-text_container {
    height: 80px;
    display: grid;
    place-items: center;
    gap: 3px;
}

.productCard-title {
    color:#e1e1e1;
    font-weight: 100;    
    font-size: 1.1rem;
    text-wrap: nowrap;
    text-align: left;
    
}


.productCard-price {
    color:#e1e1e1;
    font-size: 1.2rem;
    font-weight: 500;
}

.productCard-addButton {
    background-color: #000000;
    border-radius: 5px;
    border: 1px solid #888888;
    cursor: pointer;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #09ba00;
       
}

.inCart:hover span {
    display: none;
    
}

.inCart:hover:before {
    content: 'REMOVE';
    color: rgb(199, 0, 0);
}

@media screen and (max-width: 300px) {
    .main-body_container {
        padding: 10px;
    }

    .productCard-container {
        width: 240px;
    }
    
    .productCard-image {
        width: 240px
    }

    .productCard-title {
        font-size: 0.9rem;
    }

    .productCard-price {
        font-size: 1rem;
    }

    .productCard-addButton {
        padding: 2px;

    }
    
}