.navbar-container {
    width: 100%;
    height: 80px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);    
    background-color: var(--main-bg-color);
}

.navbar-brand {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 5fr;
    padding-left: 25px;
}

.navbar-title {
    /* Gradient */
    background-image: linear-gradient(180deg, rgb(64, 64, 64),rgb(255, 68, 0), rgb(255, 145, 0));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Gradient */
    
    font-size: 3.5rem;
    text-align: left;
    font-weight: bold;
    user-select: none;
    letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    }
    
.navbar-logo {
    width: 45px;
    height: 45px;
}



.navbar-icons {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.navbar-cart-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    filter: var(--main-icon-color);  
}

@media screen and (max-width: 800px) {
    .navbar-icons {
        column-gap: 10px;
    }
    
}

@media screen and (max-width: 600px) {
    .navbar-title {
        font-size: 2rem;
    }

    .navbar-logo {
        width: 25px;
        height: 25px;
    }

}

@media screen and (max-width: 300px) {
    .navbar-brand {
        padding-left: 15px;
    }

    .navbar-logo{
        display: none;
    }
    
}