.productDetails-main     {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--secondary-bg-color);
    padding: 25px
}

.productDetails-container {
    display: grid;
    place-items: center;
    width: min-content;
    height: fit-content;
    padding: 25px;
    background-color: aliceblue;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: -2px -2px 25px #000;
    border-radius: 10px;
}

.productDetail-section-1 {
    display: grid;
    place-items: center;
    
    padding: 15px;
}

.productDetail-section-2 {
    padding: 15px;
    border-left: 1px solid #b1b1b1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.productinfo-container {
    display: grid;
    place-items: center;
}

.buttons-container {
    display: grid;
    place-items: center;
}

.product-image {
    width: 400px;
    height: 400px;
    cursor: zoom-in;

}

.product-title {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

.productName {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.product-price {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.product-description {
    padding-left: 50px;
    font-size: 1.2rem;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .productDetails-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .productDetail-section-2 {
        border-left: none;
        border-top: 1px solid #b1b1b1;
    }    
}

@media screen and (max-width: 500px) {
    .productDetails-container {
        padding: 0;        
    }

    .product-image {
        width: 300px;
        height: 300px;
    }

    .button-primary {
        width: 300px
    }

    .button-secondary {
        width: 300px;
    } 
}


@media screen and (max-width: 350px) {

    .product-image {
        width: 200px;
        height: 200px;
    }

    .product-title {
        font-size: 1rem;
        padding: 5px;
    }

    .product-description {
        padding: 3px;
        text-align: left;
    }

    .productName {
        font-size: 1.2rem;
    }

    .product-price {
        font-size: 1.1rem;
    }



}